@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

.bg-red {
  background-color: #f72210;;
}

.container {
  max-width: 1310px;
}

header {
  font-family: "Roboto Condensed";
}